@font-face {
    font-family: 'NaturaSans';
    src: url('../fonts/NaturaSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NaturaHelve';
    src: url('../fonts/HelveticaLTStd-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

h1,p,a{
	font-family: "NaturaSans", Helvetica, Arial, sans-serif;
}

.acceder{
    font-size: 20px;
}

.navigation{
	position: relative;
	height: 50px;
	z-index: 99;
	padding: 10px 0;
}
.hero{
	margin-top: -50px;
	background-position: 50% 0px;
	background: url(../img/Banner.jpg) no-repeat fixed center center;
    background-size: cover;
}

.hero .caption {
    margin-left: 36%;
    text-align: center;
    color: white;
}
 
.hero .caption h1 {
    color: white;
    font-family: "NaturaHelve", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    word-break: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}

a{
	color: white;
}

a.app_tyc{
    color: #78223A;
    font-size: 20px;
    text-decoration: underline;
}

header{
    top: 0;
    position: sticky;
    display: block;
    width: 100%;
    height: 50px;
    z-index: 99;
    background-color: #C62E22 !important;
}

header nav {
    width: 1400px;
    padding-top: 10px;
}

header p{
    font-size: 25px;
}

.center{
	text-align: center;
}

.hero2{
	display: block;
    position: relative;
    width: 100%;
    height: 870px;
    background: url(../img/Banner.jpg) no-repeat fixed center center;
    background-size: cover;
}

.hero3{
	display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/footer.jpg) no-repeat fixed center center;
    background-size: cover;
}

.img_border{
	border-width: 15px;
    border-color: #78223A;
    border-style: solid;
}

.sub_box #mc_submit {
    width: 100px;
    height: 50px;
    padding-top: 10px;
    background-color: #AA8453;
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
}

.sub_box .mc-input {
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: #AA8453;
    width: 35%;
}

.sub_box {
    background-color: white !important;
    padding: 120px 0;
}

.img-responsive{
	display: inline;
}

.about .features_list h1 {
    color: #DB6F37;
    font-weight: bolder;
}

.about .features_list .nn h1 {
    font-size: 50px;
}

.sub_box h1 {
    color: #AA8453;
}
.sub_box p {
    color: #AA8453;
}

.sub_box .cta_text {
    font-size: 25px;
    margin: 30px 100px;
}

.about p {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.send_button p{
    color: white;
    font-size: 20px;
}

.stepbystep{
    padding: 20px;
    background-color: white;
}

.hero3 h1{
    color: white;
    text-decoration: underline;
}

.hero3 p{
    color: white;
    font-size: 20px;
}

.footer_left{
    text-align: left;
}

.footer_tyc{
    margin-top: 30px;
}

.footer_img{
    width: 25%;
}

.section_TyC{
    margin: 50px 0;
}

.login{
    margin: 100px;
}


@media screen and (min-width:320px) and (max-width:374px) {
        .hero .caption {
        margin-left: 4%;
    }
    .hero2 {
        height: 280px;
    }
}

@media screen and (min-width:375px) and (max-width:413px) {
        .hero .caption {
        margin-left: 11%;
    }
    .hero2 {
        height: 350px;
    }
}

@media screen and (min-width:414px) and (max-width:767px) {
        .hero .caption {
        margin-left: 15%;
    }
    .hero2 {
        height: 400px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
        .hero .caption {
        margin-left: 33%;
    }
    .hero2 {
        height: 830px;
    }
}
@media screen and (min-width:1024px) and (max-width:1200px) {
        .hero .caption {
        margin-left: 34%;
    }
    .hero2 {
        height: 910px;
    }
}

@media screen and (min-width:1400px) {
        .hero .caption {
        margin-left: 21%;
    }
    .hero2 {
        height: 870px;
    }
}
